<nav class='grey darken-3'>
  <div class='container'>
    <div class='nav-wrapper'>
      <a href='/stories' class='brand-logo center'>StoryBooks</a>
      <a href='#' data-activates='main-menu' class='button-collapse'><i
          class='fa fa-bars fa-lg'
        ></i></a>

      <ul class='right hide-on-small-only'>
        {{#if user}}
          <li><a href='/dashbord'>Welcome {{user.firstName}}</a></li>
          <li>
            <a href='/auth/logout'>
              <i class='fa fa-sign-out'></i>
              Logout
            </a>
          </li>
        {{else}}
          <li>
            <a href='/stoies'>
              <i class='fa fa-book'></i>
              Pulic Stories
            </a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>